<img [src]="photoUrl()" />
<div class="content">
  <strong>{{ id() }}. {{ productName() }}</strong>
  <span>{{ createDate() | date: 'yyyy-MM-dd' }}</span>
</div>
<div>
  @for (author of authors(); track $index) {
  <span>{{ author }}</span>
  @if (!$last) {
  <span>、</span>
  } }
</div>
<div class="company">
  <span>{{ company() }}</span>
  <span>{{ price() | currency : '$' : 'symbol' : '4.0' }}</span>
</div>
<div class="button">
  <button type="button" (click)="view.emit()">明細</button>
  <div>
    <button type="button" class="remove">加入購物車</button>
  </div>
</div>
